@font-face {
    font-family: "ArcadeClassic";   /*Can be any text*/
    src: local("ArcadeClassic"),
      url("./assets/fonts/ArcadeClassic.ttf") format("truetype");
  }
  


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


  

#root {
    max-height: 100vh;
}